body {
  font-family: "Courier Prime", monospace;
  background-color: rgb(180, 179, 179);
}

header {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10px;
}

header img {
  max-width: 100%;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

h1 {
  font-size: 40px;
  color: black;
}

h2 {
  font-size: 30px;
  color: black;
}

menu {
  text-align: center;
  background-color: rgb(191, 211, 159);
  padding: 15px;
  margin-top: 0px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.23);
}

h3 {
  display: inline;
  padding: 30px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #4a5347;
  transition: all ease-in-out 80ms;
}

a:hover {
  cursor: pointer;
  color: darkgray;
  font-size: 26px;
}

.backgroundColor {
  background-color: #cbbcb1;
  padding: 10px;
}

.topics {
  height: 300px;
}

.techStack {
  text-align: center;
}

.techStack img {
  padding: 20px;
  padding-top: 0px;
}

#es6 {
  width: 125px;
}

#react {
  width: 110px;
}

#bootstrap {
  width: 150px;
}

#css {
  width: 90px;
}

#html {
  width: 128px;
}

h4 {
  font-size: 25px;
  text-align: center;
}

p {
  text-align: center;
}
