body {
  font-family: "Courier Prime", monospace;
  background-color: #fff5ea;
}

header {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10px;
}

header img {
  max-width: 100%;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

h1 {
  font-size: 40px;
  color: black;
}

h2 {
  font-size: 30px;
  color: black;
}

.summary {
  background-color: #f7dad9;
  border-radius: 10px;
  max-width: 60%;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  font-style: italic;
}

menu {
  text-align: center;
  background-color: #d6d2c4;
  padding: 15px;
  margin-top: 0px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.23);
}

h3 {
  display: inline;
  padding: 30px;
  font-size: 25px;
}

.menuLinks {
  text-decoration: none;
  color: #4a5347;
  transition: all ease-in-out 80ms;
}

.menuLinks:hover {
  cursor: pointer;
  color: darkgray;
  font-size: 26px;
}

.backgroundColor {
  background-color: #f7dad9;
  padding: 10px;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.3);
}

/* .topics {
  height: 300px;
} */

.techStack {
  text-align: center;
}

.techStack img {
  padding: 20px;
  padding-top: 0px;
}

#es6 {
  width: 125px;
}

#react {
  width: 110px;
}

#bootstrap {
  width: 150px;
}

#css {
  width: 90px;
}

#html {
  width: 128px;
}

h4 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-size: 18px;
}

.websites {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px 20px 20px 40px;
}

.websiteDescriptions {
  margin: 0 auto;
}

.resumeLink {
  text-decoration: none;
}

.contactInfo {
  background: #968c83;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

.contactInfo ul {
  text-align: center;
  list-style: none;
  color: #fcf8f5;
  line-height: 30px;
}

.contactLinks {
  text-decoration: none;
  color: pink;
}

.contactLinks:hover {
  cursor: pointer;
  color: #d6d2c4;
}

footer {
  background-color: #d6d2c4;
  padding: 20px;
  color: #4a5347;
  text-align: right;
}
