.Header .row {
  padding: 100px;
}

.Header .avatar {
  position: relative;
  padding-top: 30px;
  left: 7%;
}

.Header img {
  border-radius: 50%;
}

.Header h1 {
  position: relative;
  top: 40%;
  left: 5%;
}

.Header .name {
  font-weight: bold;
  font-size: 50px;
}
