.Introduction {
  margin-top: 250px;
  background-color: white;
  background-size: 100%;
  color: black;
  padding: 100px;
}

.Introduction p {
  margin-top: 30px;
  font-size: 25px;
}

.Introduction .paragraph1,
.paragraph2,
.paragraph3 {
  margin-top: 30px;
}
